.coinsMarketsWrapper {
  h1 {
    margin-bottom: 32px;
    color: #eee;
  }
}

.coin {
  padding: 24px;
  .coinName {
    color: unset;
    margin-bottom: unset;

    span {
      font-weight: 400;
      font-size: 20px;
      margin-left: 8px;
    }
  }

  .coinDescription {
    margin: 24px 0;
  }
}
